---
import { getCollection, type CollectionEntry } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SiteFooter from "../../components/masters/SiteFooter.astro";
import SiteNavigation from "../../components/masters/SiteNavigation.astro";
import RelatedPosts from "../../partials/RelatedPosts.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
	const entries = await getCollection("blog");
	return entries.map((entry: Props) => ({
		params: { slug: entry.slug },
		props: entry,
	}));
}

const entry = Astro.props;
const { Content } = await entry.render();
---

<DefaultLayout title={entry.data.title}>
	<SiteNavigation />

	<div class="flex-1">
		<div class="mt-24">
			<header class="mb-6">
				<div class="mx-auto max-w-screen-md px-6">
					<div class="flex flex-col gap-y-3">
						<time class="font-sans text-base font-medium leading-normal text-dynamic-neutral-700" datetime={new Date(entry.data.date).toISOString()}>
							{
								new Date(entry.data.date).toLocaleDateString("en-us", {
									year: "numeric",
									month: "short",
									day: "numeric",
								})
							}
						</time>

						<h1 class="text-pretty font-display text-3xl font-semibold leading-normal text-dynamic-neutral-950">
							{entry.data.title}
						</h1>

						<div class="flex flex-wrap gap-x-6">
							{
								entry.data.categories.map((category) => (
									<div class="flex items-center gap-x-3">
										<div class="size-2 bg-dynamic-neutral-950" />
										<a class="font-sans text-base font-normal capitalize leading-normal text-dynamic-neutral-700" href={`/categories/${category}/`}>
											{category}
										</a>
									</div>
								))
							}
						</div>

						{
							entry.data.readDuration && (
								<div class="mt-3 max-w-fit bg-dynamic-neutral-200 p-3">
									<div class="flex items-center gap-x-3">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="fill-dynamic-neutral-700">
											<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
											<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8 a7 7 0 0 1 14 0z" />
										</svg>
										<span class="text-sm font-medium capitalize text-dynamic-neutral-700">
											{entry.data.readDuration === 0 && "Less than a minute Read"}
											{entry.data.readDuration === 1 && "1 Minute Read"}
											{entry.data.readDuration > 1 && `${entry.data.readDuration} Minutes Read`}
										</span>
									</div>
								</div>
							)
						}
					</div>
				</div>
			</header>

			<main>
				<div class="mb-24">
					<Content />
				</div>
			</main>
		</div>
	</div>

	<RelatedPosts currentEntry={entry} />

	<SiteFooter class="border-dynamic-neutral-300 bg-dynamic-neutral-100 text-dynamic-neutral-600" />
</DefaultLayout>
