---
import { getCollection, type CollectionEntry } from "astro:content";
import SectionHeader from "../../components/content/SectionHeader.astro";
import PageScaffold from "../../components/layout/PageScaffold.astro";
import EntryTaxonomy from "../../components/taxonomy/EntryTaxonomy.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SiteFooter from "../../components/masters/SiteFooter.astro";
import { groupEntriesByYear } from "../../utils/group-entries";

type Props = CollectionEntry<"blog">;
const entries: Props[] = await getCollection("blog");

const entriesByYear = groupEntriesByYear(entries);
---

<DefaultLayout title="Blog" showBottomNavigation={false} seo={{ description: "Articles, notes, and observations by Karl Pineda." }}>
	<PageScaffold mainClass="h-feed">
		<SectionHeader count={entries.length} singularLabel="article" pluralLabel="articles" title="Blog" />
		{
			entriesByYear.length > 0 ? (
				<section>
					<div class="collection-groups">
						{entriesByYear.map(([year, entriesFromYear]) => (
							<div class="collection-group">
								<div>
									<span class="font-sans text-base font-medium leading-normal text-dynamic-neutral-700">{year}</span>
								</div>

								<div class="collection-entry-list">
									{entriesFromYear.map((entry) => (
										<article class="collection-entry h-entry">
											<time class="dt-published font-sans text-sm font-medium leading-normal text-dynamic-neutral-700" datetime={new Date(entry.data.date).toISOString()}>
												{new Date(entry.data.date).toLocaleDateString("en-us", {
													year: "numeric",
													month: "short",
													day: "numeric",
												})}
											</time>

											<div>
												<a class="link-title link-focus p-name u-url" href={`/blog/${entry.id}/`}>
													{entry.data.title}
												</a>
											</div>
											{entry.data.description && <p class="sr-only p-summary">{entry.data.description}</p>}

											<EntryTaxonomy categories={entry.data.categories} tags={entry.data.tags} />
										</article>
									))}
								</div>
							</div>
						))}
					</div>
				</section>
			) : (
				<section>
					<div class="inline-flex flex-col gap-y-4">
						<span class="font-display text-base font-semibold leading-normal text-dynamic-neutral-950">Empty Blog Collection</span>
						<span class="font-sans text-base font-normal leading-normal text-dynamic-neutral-700">There are currently no articles available.</span>
					</div>
				</section>
			)
		}
	</PageScaffold>

	<SiteFooter />
</DefaultLayout>
