---
type TaxonomySummary = {
	count: number;
	label: string;
	value: string;
};

type Props = {
	emptyDescription: string;
	emptyTitle: string;
	getHref: (value: string) => string;
	items: TaxonomySummary[];
};

const { emptyDescription, emptyTitle, getHref, items } = Astro.props;
---

{
	items.length > 0 ? (
		<div class="collection-entry-list">
			{items.map((item) => (
				<div class="collection-entry">
					<div>
						<a class="link-title link-focus" href={getHref(item.value)}>
							{item.label}
						</a>
					</div>
					<div>
						<span class="link-meta-sm">
							{item.count}
							{item.count === 1 ? " entry" : " entries"}
						</span>
					</div>
				</div>
			))}
		</div>
	) : (
		<div class="inline-flex flex-col gap-y-4">
			<span class="font-display text-base font-semibold leading-normal text-dynamic-neutral-950">{emptyTitle}</span>
			<span class="font-sans text-base font-normal leading-normal text-dynamic-neutral-700">{emptyDescription}</span>
		</div>
	)
}
