---
import type { ContentEntry } from "../../utils/content-entries";
import { groupEntriesByYear } from "../../utils/group-entries";
import CollectionTypeMarker from "./CollectionTypeMarker.astro";

type Props = {
	entries: ContentEntry[];
};

const { entries } = Astro.props;
const groupedEntries = groupEntriesByYear(entries);
---

<div class="directory-groups">
	{
		groupedEntries.map(([year, entriesFromYear]) => (
			<div class="directory-group">
				<div>
					<span class="listing-year-label">{year}</span>
				</div>

				<div class="directory-entry-list">
					{entriesFromYear.map((entry) => (
						<div class="directory-entry">
							<time class="directory-entry-date" datetime={new Date(entry.data.date).toISOString()}>
								{new Date(entry.data.date).toLocaleDateString("en-us", {
									year: "numeric",
									month: "short",
									day: "numeric",
								})}
							</time>

							<div>
								<a class="directory-entry-link" href={`/${entry.collection}/${entry.id}/`}>
									{entry.data.title}
								</a>
							</div>

							<div class="entry-taxonomy-list">
								<CollectionTypeMarker collection={entry.collection} />
							</div>
						</div>
					))}
				</div>
			</div>
		))
	}
</div>
