---
import { getCollection, type CollectionEntry } from "astro:content";
import SectionHeader from "../../components/content/SectionHeader.astro";
import PageScaffold from "../../components/layout/PageScaffold.astro";
import EntryTaxonomy from "../../components/taxonomy/EntryTaxonomy.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SiteFooter from "../../components/masters/SiteFooter.astro";
import { groupEntriesByYear } from "../../utils/group-entries";

type Props = CollectionEntry<"portfolio">;
const entries: Props[] = await getCollection("portfolio");

const entriesByYear = groupEntriesByYear(entries);
---

<DefaultLayout title="Portfolio" showBottomNavigation={false} seo={{ description: "Selected projects, image work, and experiments by Karl Pineda." }}>
	<PageScaffold mainClass="h-feed">
		<SectionHeader count={entries.length} singularLabel="project" pluralLabel="projects" title="Portfolio" />
		{
			entriesByYear.length > 0 ? (
				<section>
					<div class="collection-groups">
						{entriesByYear.map(([year, entriesFromYear]) => (
							<div class="collection-group-alt border-b border-dynamic-neutral-300 last:border-b-0">
								<div>
									<span class="font-sans text-base font-medium leading-normal text-dynamic-neutral-700">{year}</span>
								</div>

								<div class="grid grid-cols-1 gap-12 sm:grid-cols-2">
									{entriesFromYear.map((entry) => (
										<div class="border border-dynamic-neutral-300 p-6">
											<article class="collection-entry h-entry">
												<time class="dt-published font-sans text-sm font-medium leading-normal text-dynamic-neutral-700" datetime={new Date(entry.data.date).toISOString()}>
													{new Date(entry.data.date).toLocaleDateString("en-us", {
														year: "numeric",
														month: "short",
														day: "numeric",
													})}
												</time>

												<div>
													<a class="link-title link-focus p-name u-url" href={`/portfolio/${entry.id}/`}>
														{entry.data.title}
													</a>
												</div>
												{entry.data.description && <p class="sr-only p-summary">{entry.data.description}</p>}

												<EntryTaxonomy categories={entry.data.categories} tags={entry.data.tags} />
											</article>
										</div>
									))}
								</div>
							</div>
						))}
					</div>
				</section>
			) : (
				<section>
					<div class="inline-flex flex-col gap-y-4">
						<span class="font-display text-base font-semibold leading-normal text-dynamic-neutral-950">Empty Portfolio Collection</span>
						<span class="font-sans text-base font-normal leading-normal text-dynamic-neutral-700">There are currently no projects available.</span>
					</div>
				</section>
			)
		}
	</PageScaffold>

	<SiteFooter />
</DefaultLayout>
